     {% set operations = __SELF__.operations %}

{% if (operations.count == 4) %}
      <ul class="grid4">
      {% elseif (operations.count == 3) %}
<ul class="grid3">
{% elseif (operations.count == 2) %}
      <ul class="grid2">
{% else %}
<ul class="grid">
{% endif %}


       {% for operation in operations %}
{% if (operations.count == 1) %}
<li></li>
{%endif%}
        <li >
          <a href="{{ operation.url }}"><section> 
            <!--======= SERVICE IMG =========--> 
            <img style="width:100%;height:auto;" src="{{ operation.images.first.path|resize(740,750,{ mode: 'crop'}) }}" alt="" >
           
            
            <!--======= SERVICE HOVER =========-->
            <div class="ser-hover">
      
               
             
            </div>
            <span  class="heading">{{ operation.name }}</span>
            </section></a>
        </li>
        {% endfor %}
      </ul>
      